<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>D e p a l p a t o r</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css" rel="stylesheet">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
  <style type="text/css">
    html, body {
        font: normal 16px/26px "Roboto", Arial, sans-serif;
        font-size: 14px;
        margin: 0;
    }
    .ui-button {
        margin: 4px;
    }
    .find-symbol, .find-symbol:hover {
        background: orange;
    }
    .known-symbol, .known-symbol:hover {
        background: lime;
    }
    #header {
        position: absolute; 
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
    }
    #app {
        height: 100vh;
    }
    #network {
        position: absolute; 
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #network-settings {
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    #conf {
        position: absolute; 
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
    }
    #conf > p {
        text-align: center;
    }
    #conf > p > span {
        font-size: 18px;
    }
    .item {
        box-sizing: border-box;
        border-top: 1px solid #eee;
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        align-items: center;
    }
    .item[is_required] {
        background: lime;
    }
    .item > span {
        font-size: 16px;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-splitpane@1.0.2/dist/vue-split-pane.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
  <script>
$(function() {
var all_groups = [];
var app_data = { symbols: [], formulas: [] };

$.ajax({
    url: 'graph_data/groups.xml',
    dataType: 'xml',
    success: function(xmlData){
        $(xmlData).find('group').each(function() {
            all_groups.push({
                id: parseInt($(this).find('id').text()),
                image: $(this).find('image').text(),
                symbols: $(this).find('name').text().split(', '),
                excluded: false
            });
        });
    }
});

var app = new Vue({
    el: '#app',
    data: app_data,
    created: function() {
        $('input[name=depth-group]').checkboxradio({ icon: false });
        $.contextMenu({
            selector: '.item', 
            callback: function(key, options) {
                if (key == 'exclude') {
                    var formula_id = parseInt($(this).attr('formula'));
                    for (let group of all_groups) {
                        if (group.id == formula_id) {
                            group.excluded = true;
                            break;
                        }
                    }
                    solve();
                }
            },
            items: {
                exclude: { name: "Исключить из решения" }
            }
        });
        $.contextMenu({
            selector: '.context-menu-one', 
            callback: function(key, options) {
                //console.log($(this).text());
                if (key == 'find') {
                    $(this).removeClass('known-symbol', 100);
                    $(this).toggleClass('find-symbol', 100);
                } else {
                    $(this).removeClass('find-symbol', 100);
                    $(this).toggleClass('known-symbol', 100);
                }
            },
            items: {
                find: { name: "Нужно найти" },
                known: { name: "Известен" }
            }
        });
        $.ajax({
            url: 'data/symbols.xml',
            dataType: 'xml',
            success: function(xmlData){
                $(xmlData).find('symbol').each(function() {
                    app_data.symbols.push($(this).find('name').text());
                });
                Vue.nextTick(function () {
                    $('input[type=radio]').checkboxradio({ icon: false });
                    $('input[name=radio-1]').click(function() {
                        vis_data.nodes.clear();
                        vis_data.edges.clear();
                        used = [];
                        MAX_DEPTH = parseInt($('input[name=depth-group]:checked').prev().text()) | 2;
                        do_graph($(this).next().text());
                    });
                });
            }
        });
    }
});

var MAX_DEPTH = 2;
var used = null;
function do_graph(key, parent=null, gr=null, depth=0) {
    //console.log(key, parent, gr, depth);
    var node = 0;
    if (parent == null) {
        vis_data.nodes.add({
            id: node,
            shape: 'box',
            label: key,
            level: depth
        });
    } else {
        node = used.indexOf(gr.id) + 1;
        if (node == 0) {
            used.push(gr.id);
            node = used.indexOf(gr.id) + 1;
            vis_data.nodes.add({
                id: node,
                shape: 'image',
                image: gr.image,
                level: depth
            });
        }
    }
    if (parent !== null) {
        vis_data.edges.add({
            from: parent,
            to: node
        });
    }
    if (depth >= MAX_DEPTH) return;
    all_groups.forEach(function(group) {
        if (group === gr) return;
        if (group.symbols.indexOf(key) != -1) {
            group.symbols.forEach(function(symbol) {
                if (symbol == key) return;
                do_graph(symbol, node, group, depth + 1);
            });
        }
    });
}

function solve() {
    app_data.formulas = [];
    var known = $.map($('.known-symbol'), function(element) {
        return $(element).text()
    });
    var find = $.map($('.find-symbol'), function(element) {
        return $(element).text()
    });
    var do1 = true;
    while (do1) {
        let do2 = true;

        for (let group of all_groups) {
            if (group.excluded) continue;
            let diff = $(group.symbols).not($(known));
            if (diff.length != 1) continue;
            known.push(diff[0]);
            app_data.formulas.push({
                group: group,
                symbol: diff[0],
                is_required: find.indexOf(diff[0]) > -1
            });
            do2 = false;
            if ($(find).not($(known)).length == 0) {
                do1 = false;
                break;
            }
        }

        if (do2) {
            break;
        }
    }
}

$('#solve').click(function() {
    for (let group of all_groups) {
        group.excluded = false;
    }
    solve();
});

var vis_data = {
    nodes: new vis.DataSet([]),
    edges: new vis.DataSet([])
};
// create a network
var container = document.getElementById('network');
var options = {
    layout: {
        hierarchical: {
            enabled: true,
            levelSeparation: 150,
            nodeSpacing: 250
        }
    },
    edges: {
        arrows: 'to'
    },
    nodes: {
        shapeProperties: {
            useImageSize: true,
            useBorderWithImage: true
        }
    },
    physics: {
        enabled: false
    }
};
var network = new vis.Network(container, vis_data, options);

});
  </script>
</head>
<body>
  <div id="app">
    <split-pane split="horizontal" :min-percent='15' :default-percent='25'>
      <div id="header" slot="paneL">
        <template v-for="(symbol, index) in symbols">
          <input type="radio" name="radio-1" :id="'radio-'+index">
          <label class="context-menu-one" :for="'radio-'+index">{{symbol}}</label>
        </template>
      </div>
      <split-pane slot="paneR" split="vertical" :min-percent='20' :default-percent='65'>
        <div slot="paneL">
          <div id="network"></div>
          <div id="network-settings">
            <fieldset>
              <legend>Глубина графа: </legend>
              <label for="depth-2">2</label>
              <input type="radio" name="depth-group" id="depth-2" checked>
              <label for="depth-3">3</label>
              <input type="radio" name="depth-group" id="depth-3">
            </fieldset>
          </div>
        </div>
        <div id="conf" slot="paneR">
          <p>
            <span>Выберите символы правым кликом.</span><br>
            <button id="solve" class="ui-button ui-widget ui-corner-all">Построить решение</button>
          </p> 
          <div style="padding-left: 5px">
            <template v-for="f in formulas">
              <div class="item" :is_required="f.is_required" :formula="f.group.id">
                <img :src="f.group.image" /><span> => {{f.symbol}}</span>
              </div>
            </template>
          </div>
        </div>
      </split-pane>
    </split-pane>
  </div>
</body>
</html>
